

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to left, #A6A6A6, #586173);
}

h1 {
    color: #3F4859;
    background-color: white;
    box-shadow: 5px 3px 7px 1px rgba(255, 255, 255, 0.479);
    text-align: center;
}

header {
    background-color: #3F4859;
    padding: 10px;
    margin: 10px;
}

nav {
    background-color: #9ea1a8;
    padding: 3px;
    box-shadow: 5px 3px 7px 1px rgba(4, 3, 10, 0.486);
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    background-color: #3F4859;
    padding: 10px;
    margin: 10px;
    border-radius: 10px 20px 30px 40px;
}

article {
    background-color: #A6A6A6;
    padding: 5px;
}

article > aside {
    background-color: #575656;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 1px;
    margin: 0px;
}

footer > p {
    margin: 0;
}

div#bola {
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: white;
    border-radius: 50px;
    background: url("https://s1.static.brasilescola.uol.com.br/be/conteudo/images/imagem-em-lente-convexa.jpg") center;
}

.subtitulo {
    text-align: center;
    color: #3F4859;
}