@charset "UTF-8";

/*
    em HTML é id    = em CSS é #
    em HMTL é class = em CSS .
*/

body {
    background-image: linear-gradient(to right, #9295A6, #363C59);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify ;
}

.d {
    background-image: linear-gradient(to left, #F2CFC2, #59504A);
}

h1 {
    color: white;
    background-color: #1B7F7A;
    text-align: center;
}

.principal {
    text-align: center;
    background-color: #1B7F7A;
    color: white;
}

.basico {
    color: green;
}

.intermediário {
    color: orange;
}

.avançado {
    color: red;
}
.principal-2 {
    text-align: center;
    background-color: #1B7F7A;
    color: white;
}

h2 {
    color: #080A40;
}

